@page
@model DateApp.Pages.CheckLikesModel
@{
}
<div class="center">
    <h1>Список пользователей отправивших вам заявку</h1>
</div>

<partial name="_UserListDelete" model="Model.Users"></partial>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>